@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  @apply rounded font-normal min-h-[2.5rem] h-10;
}

.input {
  @apply h-10 rounded;
}

.select {
  @apply h-10 min-h-[2.5rem] rounded;
}

.card {
  @apply shadow dark:border bg-white dark:bg-gray-800 dark:border-gray-700;
}

@layer base {
  h2 {
    @apply text-xl font-bold text-gray-800 dark:text-gray-200;
  }
}

@layer components {
  .radio-label {
    @apply btn flex bg-base-100 border border-base-content/20;
    &:hover {
      @apply bg-base-content/20 border-base-content/20;
    }
  }
}

@layer utilities {
  .flex-col-center {
    @apply flex w-full items-center flex-col;
  }

  .fixed-full-with-headers {
    @apply w-full h-[calc(100vh_-_95px)];
  }

  .light-text {
    @apply text-sm text-gray-600 dark:text-gray-400;
  }

  .modal-footer-buttons {
    @apply mt-4 flex gap-4 justify-end;
  }
}